*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#5D1C6A;
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

header{
    border: #5D1C6A;
    background-color:#FFF1D3;
    padding: 60px 20px;
    text-align: center;
    font-size: 40px;
}

header h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

header p{
    font-size: 1.5rem;
    color: #CA5995;
    margin-bottom: 30px;
}

img{
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

nav{
    background-color: #CA5995;
    padding: 15px 0;
    position: sticky;
    top: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

nav ul li a{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    color: #FFF1D3;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
} 


nav ul li a:hover{
    background-color: #CA5995;
    color: violet;
    border-radius: 5px;
}


footer{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #5D1C6A;
}

footer p{
    font-size: 25px;
    color: #FFF1D3;
    text-align: center;
} 

form{
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #5D1C6A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

label{
    color: #FFF1D3;
    margin-bottom: 8px;
    font-weight: bolds;
    text-align: left;
    font-size: 25px;
}

input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 25px;
    outline-color: #FFB090;
}
input[type="submit"]{
    width: 100%;
    background-color: #FFF1D3;
    color:#CA5995;
    font-weight: bold;
    border-radius: 8px;
    cursor: cell;
    font-size: 25px;
    border: none;
}
 table{
    font-size: 25px;
    width: 90%;
    margin:30px auto;
    border-collapse: collapse;
    background-color:#FFC6C6;
    border-radius: 8px;
 }

 thead{
    font-size: 25px;
    color:#FFF1D3;
    background-color:#5D1C6A;
 }

 th{
    padding: 15px;
    text-align: center;
 }

 h2{
    font-size: 30px;
    color: #CA5995;
 }

 td{
    color:#5D1C6A;
    padding: 15px;
    text-align: center;

 }
.contact form{
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #5D1C6A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.c label{
    color: #FFF1D3;
    margin-bottom: 8px;
    font-weight: bolds;
    text-align: left;
    font-size: 25px;
}

input,textarea{
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 25px;
    outline-color: #FFB090;
}

.s input[type="submit"]{
    width: 100%;
    background-color: #FFF1D3;
    color:#CA5995;
    font-weight: bold;
    border-radius: 8px;
    cursor: cell;
    font-size: 25px;
    border: none;
}
